<Layouts.app flash={@flash}>
  <.header>
    Edit Title {@title.id}
    <:subtitle>Use this form to manage title records in your database.</:subtitle>
  </.header>

  <.title_form changeset={@changeset} action={~p"/titles/#{@title}"} return_to={~p"/titles"} />
</Layouts.app>
