<Layouts.app flash={@flash}>
  <.header>
    New Title
    <:subtitle>Use this form to manage title records in your database.</:subtitle>
  </.header>

  <.title_form changeset={@changeset} action={~p"/titles"} return_to={~p"/titles"} />
</Layouts.app>
